#panel {
    position:fixed;
    top: 5%;
    bottom: 5%;
    right: 0px;
    background: aquamarine;
    padding: 5px;
}

.controlbuttons td {
    padding: 5px;
}

.controlbuttons button {
    font-variant: small-caps;
}

.buttontable div {
  background-position: 50% 50%;
  background-repeat: no-repeat;
    cursor: pointer;
}
.buttontable div:hover {
    border: 2px solid black;
}

.buttontable .trough {
    background-image: url('/images/trough-icon-50.png');
    width: 50px;
    height: 50px;
    
}
.buttontable .gate {
    background-image: url('/images/gate-icon-50.png');
    width: 50px;
    height: 50px;
}
.buttontable .fire {
    background-image: url('/images/fire-icon.svg');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.buttontable .fuel {
    background-image: url('/images/fuel-icon.svg');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.buttontable .health {
    background-image: url('/images/health-icon.svg');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.buttontable .info {
    background-image: url('/images/info-icon.svg');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.buttontable .safety {
    background-image: url('/images/safety-icon.svg');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.buttontable .spill {
    background-image: url('/images/spill-icon.svg');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

#printFooter {
    display: none;
}

/*Print*/
@media print {
    * {
        visibility: hidden
    }
    div#map {
        background-color: white;
        height: 100% !important;
        width: 100% !important;
        position: fixed !important;
        top: 0;
        left: 0;
        margin: 0;
    }
    div#map * {
        visibility: visible;
    }
    
    #printFooter {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 9999999;
    }
    
    .leaflet-control-container{
        display: none;
    }
}

#topbar>.logo{
    height: 60px;
}

#topbar .header-title {
    color: #dbddd9;
    padding-left: 7em;
}

/* Map Labels */

.polyLabel{
/*    color: 'yellow';*/
}
.markerLabel{
/*    color: 'yellow';*/
}
.lineLabel{
/*    color: 'yellow';*/
}

.labelDragHandle{
    height: 30px !important;
    width: 30px !important;
}
.labelDragHandle:hover{
    cursor:move;
}

/*JQuery UI stuff*/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-state-active{
    background: #48abe7 !important;
    border-color: #48abe7 !important;
}