#cover {
    background: #e9e9e9;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 4;
}
#loading-img {
    background: url(images/loading.svg) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.controlbuttons td {
    padding: 5px;
}

.controlbuttons button {
    font-variant: small-caps;
}
#topbar {
    height: 45px;
    background-color: #4a4a4a !important;
}

#topbar .actionButton {
    font-weight: bold;
}

#topbar .actionButton:before{
    content: " | ";
    position: absolute;
    font-size: x-large;
    font-weight: 100;
    opacity: 0.2;
}

#topbar .logo{
    height: 30px;
    transform: translateX(-17px);
/*    display:none;*/
}

#topbar .header-title {
    color: #dbddd9;
    padding-left: 7em;
}

#topbar .companylogo {
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%) translateX(-5%);
  height: 27px;
}

#fbName {
    font-weight: bold;
}
#logout{
    padding: 1em;
}

#topbar #maptitle{
    font-weight: bold;
    font-size: 17pt;
    padding: 0 5em 0 1em;
}

#userDetails {
    display: none;
    padding-right:1em;
    padding-left:3em;
    text-align: right;
}

#location {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

/*Feature Grid*/
input[type=checkbox].w3-check {
    top: 0px !important;
}

#featuregrid span.detail {
    font-size: small;
    font-style: italic;
}

#featuregrid .clickable:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.accordionDiv {
    padding: .7em .5em !important;
}
.accordionDiv h3 {
    text-transform: capitalize;
}

.featureTable {
    border-collapse: collapse;
    width:100%;
    padding: 0 !important;
}

.featurebutton {
background-size: 40px 40px;
width: 50px;
height: 50px;
background-position: 50% 50%;
background-repeat: no-repeat;
}

.linefeaturebutton{
    width: 50px;
    height: 50px;
}
.linefeaturebutton .line {
  position: relative;
  z-index: 1;
  top: 50%;
  height: 4px;
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
      -ms-transform: rotate(-45deg); /* IE 9 */
          transform: rotate(-45deg);
}

.polyfeaturebutton{
    width: 50px;
    height: 50px;
    border: solid 6px;
}


#featuregrid>h3 {
    background-color: transparent;
    border: none;
    border-bottom: solid black 1px;
    color: black;
    font-weight: bold;
}
#featuregrid>h3.ui-state-active {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: none;
    border-bottom: solid blue 3px;
    color: black;
    font-weight: bold;
}

.ui-state-active .ui-icon {
    background-image: url("images/ui-icons_444444_256x240.png") !important;
}
#featuregrid>h3:hover {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

#featuregrid input[type=checkbox]{
    visibility:hidden;
    width:30px;
    float:right;
}
#featuregrid label{
    float: right;
}

#featuregrid label.showLayer:before{
    background: url("/images/hidelayer.svg") center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    cursor: pointer;
    width: 30px;
    position: absolute;
}
#featuregrid :checked+label.showLayer:before{
    background: url("/images/showlayer.svg") center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');;
}
#featuregrid label.showLabel:before{
    content: url("/images/showhidelabel.svg");
    opacity: 0.15;
    width: 30px;
    position: absolute;
    cursor: pointer;
}
#featuregrid :checked+label.showLabel:before{
    opacity: 1;
}

#featuregrid span.heatmapbutton {
    cursor: pointer;
    text-decoration: underline;
}

#featuregrid span.heatmapbutton:hover {
    font-weight:bold;
}

/* history grid */
tr.current {
    background-color: lightyellow;
}
td.details{
    width:60px;
    cursor: pointer;
}
td.note {
    max-width: 130px;
}
td.delete {
    width:55px;
}
.fadeouttext {
  overflow: ellipsis;
}


/* Map Labels */

.featureLabel{
    text-shadow: 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 
        0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF;
    border: none !important;
    background: none !important;
}

.polyLabel p{
    margin: 0;
    line-height: 1.3em;
}
.polyLabel .size{
    font-style:italic;
    font-weight: normal;
}
.markerLabel{
}
.lineLabel{
}

.labelDragHandle{
    height: 30px !important;
    width: 30px !important;
}
.labelDragHandle:hover{
    cursor:move;
}

/*JQuery UI stuff*/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-state-active{
    background: #48abe7 !important;
    border-color: #48abe7 !important;
}