#panel {
    position:fixed;
    top: 5%;
    bottom: 5%;
    right: 0px;
    background: aquamarine;
    padding: 5px;
}

.controlbuttons td {
    padding: 5px;
}

.controlbuttons button {
    font-variant: small-caps;
}

#topbar {
    height: 80px;
}
#topbar .logo{
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
}

#topbar .header-title {
    color: #dbddd9;
    padding-left: 7em;
}

#topbar .companylogo {
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
  height: 40px;
}

#userDetails {
    display: none;
    padding-right:1em;
    text-align: right;
}

#location {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

/*Feature Grid*/
.accordionDiv {
    padding: .7em .5em !important;
}
.accordionDiv h3 {
    text-transform: capitalize;
}
.featureTable>tbody>tr:hover {
    background-color:beige;
}
.featurebutton {
background-size: 40px 40px;
width: 50px;
height: 50px;
background-position: 50% 50%;
background-repeat: no-repeat;
}

.linefeaturebutton{
    width: 50px;
    height: 50px;
}
.linefeaturebutton .line {
  position: relative;
  z-index: 1;
  top: 50%;
  height: 4px;
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
      -ms-transform: rotate(-45deg); /* IE 9 */
          transform: rotate(-45deg);
}

.polyfeaturebutton{
    width: 50px;
    height: 50px;
    border: solid 6px;
}


#featuregrid>h3 {
    background-color: transparent;
    border: none;
    border-bottom: solid black 1px;
    color: black;
    font-weight: bold;
}
#featuregrid>h3.ui-state-active {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: none;
    border-bottom: solid blue 3px;
    color: black;
    font-weight: bold;
}

.ui-state-active .ui-icon {
    background-image: url("images/ui-icons_444444_256x240.png") !important;
}
#featuregrid>h3:hover {
    background-color: rgba(255, 255, 255, 0.8) !important;
}


/* Map Labels */

.featureLabel{
    text-shadow: 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF, 
        0 0 0.4em #FFF, 0 0 0.4em #FFF, 0 0 0.4em #FFF;
    border: none !important;
    background: none !important;
}
.featureLabel:before, .featureLabel:after{
    display: none !important;
}

.polyLabel{
}
.markerLabel{
}
.lineLabel{
}

.labelDragHandle{
    height: 30px !important;
    width: 30px !important;
}
.labelDragHandle:hover{
    cursor:move;
}

/*JQuery UI stuff*/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-state-active{
    background: #48abe7 !important;
    border-color: #48abe7 !important;
}