<tr data-template-bind='[{"attribute": "data-key", "value": "key"}]'>
    <td data-content="data.name"></td>
    <td data-content="data.tilesURL"></td>
    <td><a href="#" class="geojsonlink" data-template-bind='[{"attribute": "data-key", "value": "data.geojsonid"}]' onclick="downloadGeoJson(this)">Click to download</a></td>
    <td data-content-text="data.default"></td>
    <td>
<!--        <button class="w3-btn w3-yellow" onclick="showProduct()" >Edit</button>&nbsp;-->
        <button class="w3-btn w3-red" data-template-bind='[{"attribute": "data-key", "value": "key"}]' onclick="deleteOverlay(this)" >Delete</button>
    </td>
</tr>