<tr data-template-bind='[{"attribute": "data-key", "value": "key"}]'>
    <td name='name' data-content="name"></td>
    <td name='role' data-content="roles.role"></td>
    <td name='locations' data-template-bind='[{"attribute": "data", "value": "roles.locations"}]' data-content="roles.locations.length"></td>
    <td name='features' data-template-bind='[{"attribute": "data", "value": "roles.features"}]' data-content="roles.features" data-format="ListifyArray"></td>
    <td>
        <button class="w3-btn w3-yellow" data-template-bind='[{"attribute": "data-key", "value": "key"}]' onclick="editUser(this)" >Edit</button>&nbsp;
        <button class="w3-btn w3-red" data-template-bind='[{"attribute": "data-key", "value": "key"}]' onclick="deleteUser(this, true)" >Delete</button>
    </td>
</tr>